[submodule "lib/third-parties/JsonBox"]
	path = lib/third-parties/JsonBox
	url = https://github.com/anhero/JsonBox.git
[submodule "lib/third-parties/dg"]
	path = lib/third-parties/dg
	url = https://github.com/mchalupa/dg.git
