[submodule "lib/third-parties/JsonBox"]
	path = lib/third-parties/JsonBox
	url = https://github.com/anhero/JsonBox.git
[submodule "lib/third-parties/dg"]
	path = lib/third-parties/dg
	url = https://github.com/thierry-tct/dg.git
[submodule "lib/third-parties/FastBDT"]
	path = lib/third-parties/FastBDT
	url = https://github.com/thierry-tct/FastBDT.git
[submodule "lib/third-parties/random-forest"]
	path = lib/third-parties/random-forest
	url = https://github.com/thierry-tct/random-forest.git
